<footer role="contentinfo">
  <div class="theme">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div class="l-site-name l-site-name--footer">
              <img src="/favicon.png">
              {#% include "partials/icons/logo.svg" %#}
              <div class="l-site-title site-title">{{ site.name }}</div>
            </div>
            {% if site.shortDesc %}
              <p>{{ site.shortDesc }}</p>
            {% endif %}
          </div>
          <div class="l-footer-nav">
            {% set navLocation = 'footer' %}
            {% include "partials/nav.njk" %}
          </div>
        </div>
        <p class="powered-by">&copy; 2020 {{site.authorName}} — Code & Consulting by STOQE</p>
      </div>
    </div>
  </div>
</footer>